<div class="card h-100" style="background-color: #000"
[@cardAnimator]="animationState"
(@cardAnimator.done)="resetAnimationState($event)"
(swipeleft)='startAnimation("swipeleft")'
(swiperight)='startAnimation("swiperight")'>
<!--img src="{{cards[index].icon}}" class="card-img-top">
<div class="content">
  <div class="card-body">
    <h5 class="card-title">{{cards[index].question}}</h5>
    <p class="card-text">{{cards[index].description}}</p>
  </div>
</div-->


<div class="card text-center" style="height: 100%;">
  <div class="card-header">
    ...info...
  </div>
  <div class="card-body">
    <p>{{cards[index]._id}}</p>
    <h5 class="card-title">{{cards[index].question}}</h5>
    <p class="card-text">{{cards[index].description}}</p>
    <a href="#" class="btn btn-primary">Ver más</a>
  </div>

<!-- asd   -->

<app-answer [qid]="cards[index]._id" *ngIf="isActive"></app-answer>

<!-- finASD -->

<!-- resultados -->

<!-- Fin Resultados -->

  <div class="card-footer text-muted">
    fecha inicio
  </div>
</div>

</div>
