<!-- resultados -->
<div class="card-group">
  <div class="card border-danger">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-danger">En Contra</h5>
      <p class="card-text text-danger">{{ answerNo }} votos.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">ultimo voto hace 45 minutos.</small>
    </div>
  </div>
  <div class="card border-secundary">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-secundary">Abstencion</h5>
      <p class="card-text text-secundary">{{ answerNull }} votos.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">ultimo voto hace 5 horas.</small>
    </div>
  </div>
  <div class="card border-success">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-success">A Favor</h5>
      <p class="card-text text-success">{{ answerOk }} votos.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">ultimo from laptop voto hace 3 minutos.</small>
    </div>
  </div>
</div>
<!-- Fin Resultados -->
